<h1>Admin::Items#index　商品一覧</h1>

<table>
    <thead>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
    </thead>
    
    <tbody>
    <% @all_customer.each do |all| %>
    <tr>
        <td><%= all.id %></td>
        <td><%= link_to all.full_name, admin_item_path(all.id) %></td>
        <td><%= all.price %></td>
    </tr>
    <% end %>
    </tbody>

</table>
