<h1>Admin::Customers#index 会員一覧</h1>

<table>
    <thead>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
    </thead>
    <tbody>
    <% @all_customer.each do |all| %>
    <tr>
        <td><%= all.id %></td>
        <td><%= link_to all.full_name, admin_customer_path(all.id) %></td>
        <!--<td>%= link_to all.last_name+' '+all.first_name, admin_customer_path(all.id) %></td>-->
        <td><%= all.email %></td>
    </tr>
    <% end %>
    </tbody>

</table>
