<h1>Public::Items#index　商品一覧</h1>

<table>
  <% @all_item.each do |all| %>
  <%= link_to item_path(all.id) do %>
    <%= image_tag all.get_image(100,100) %>
  <% end %>
    <%= all.name %>
    <%= all.price %>
  <% end %>
</table>
