<div class="container">
  <h2>商品一覧</h2>
    <div class="row">
      <div class= "col-md-4">
      <% @all_item.each do |all| %>
      <div style="width;25%">
      <%= link_to item_path(all.id) do %>
      <%= image_tag all.get_image(100,100) %>
      <% end %><br>
      <%= all.name %><br>
      <%= all.no_tax_price.to_s(:delimited) %><br>
      </div>
    </div>
  <% end %>
  </div>
</div>
